BOT_TOKEN=
ADMIN_TELEGRAM_IDS=
DATABASE_URL=postgresql+asyncpg://vpnbot:vpnbot@postgres:5432/vpnbot
REDIS_URL=redis://redis:6379/0
TELEGRAM_PROXY_URL=

MARZBAN_BASE_URL=
MARZBAN_USERNAME=
MARZBAN_PASSWORD=
MARZBAN_TOKEN=
MARZBAN_INBOUND_ID_OR_PROFILE=3
MARZBAN_SUBSCRIPTION_BASE_URL=
MARZBAN_SSL_VERIFY=true

PRICE_PER_GB_TOMAN=220000
PACKAGE_PRICES_TOMAN=1:220000,3:600000,5:900000,10:1600000
MIN_CUSTOM_GB=1
MAX_CUSTOM_GB=1000

CARD_NUMBER=
CARD_HOLDER_NAME=
BANK_NAME=
SUPPORT_USERNAME=
CRYPTO_LTC_WALLET=
CRYPTO_LTC_QR_FILE_ID=
LTC_TOMAN_RATE=7000000
LITECOIN_API_BASE_URL=https://api.blockcypher.com/v1/ltc/main

DEFAULT_LANGUAGE=fa
LOG_LEVEL=INFO
