BOT_TOKEN=
ADMIN_TELEGRAM_IDS=
DATABASE_URL=postgresql+asyncpg://vpnbot:vpnbot@postgres:5432/vpnbot
REDIS_URL=redis://redis:6379/0
TELEGRAM_PROXY_URL=

MARZBAN_BASE_URL=
MARZBAN_USERNAME=
MARZBAN_PASSWORD=
MARZBAN_TOKEN=
MARZBAN_INBOUND_ID_OR_PROFILE=3
MARZBAN_SUBSCRIPTION_BASE_URL=

PRICE_PER_GB_TOMAN=220000
MIN_CUSTOM_GB=1
MAX_CUSTOM_GB=1000

CARD_NUMBER=
CARD_HOLDER_NAME=
BANK_NAME=
SUPPORT_USERNAME=

DEFAULT_LANGUAGE=fa
LOG_LEVEL=INFO
